.btn-primary {
    background-color: gray;
    color: white;
    border: none;
    padding: 0px 6px; 
  }

  .btn-secondary {
    background-color: red;
    color: white;
    border: none;
    padding: 0px 6px; 
  }