
.fas {
    color: red;
}

.account-icon .fas {
    color: gray;
}


.active-link {
    background-color: white;
    color: red;
}


a.btn-link {
    padding: 5px 10px;
    margin: 5px 0;
}


.col-1 ul {
    background-color: black;
    width: 80px;
    min-width: 75px;
    max-width: 85px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.col-1 ul li{
    text-decoration: none;
}



.col-1 ul .account-icon a {
    color: red;
}

.col-1 ul li:not(.account-icon) {
    margin: 5px 0;
}

.col-1 ul li:not(.account-icon) a {
    color: white;
    margin-left: 10px;
}


.col-1 ul li a {
    text-align: left;
    padding: 10px 0;
    line-height: 1;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}


.col-1 ul li a,
.col-2 ul li a {
    text-decoration: none;
}








.col-2 ul {
    color: red;
    width: 195px;
    min-width: 190px;
    max-width: 200px;
    padding: 10px 0;
    text-align: left;
    margin-left: 22.5px;

}

.col-2 ul li a {
    color: red;
    word-wrap: break-word;
    
}

.col-2 ul li {
    margin-bottom: 15px; 
}

.col-2 ul li:last-child {
    margin-bottom: 20px; 
}

.col-2 ul .profile-link a {
    color: black; 
}

.profile-link {
    color: red; 
}


.col-3 .account-icon {
    text-align: left;
    margin-top: 20px;
}

.col-3 .account-icon i {
    color: red; 
}


.btn-edit-profile {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn-edit-profile i {
    margin-right: 5px; 
}
