.row {
    display: flex;
    justify-content: space-between;
}

.col-1, .col-2, .col-4 {
    flex: 1;
    margin: 10px;
}


.fas {
    color: red;
}


.account-icon .fas {
    color: gray;
}




a.btn-link {
    padding: 5px 10px;
    margin: 5px 0;
}


.col-1 ul {
    background-color: black;
    width: 80px;
    min-width: 75px;
    max-width: 85px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.col-1 ul li{
    text-decoration: none;
}



.col-1 ul li:not(.active-link) a {
    color: white;
    margin-left: 10px;
}


.active-link {
    background-color: white;
    color: red;
}


.col-1 ul li a {
    text-align: left;
    padding: 10px 0;
    line-height: 1;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
}

.col-1 ul li a,
.col-2 ul li a {
    text-decoration: none;
}





.col-2 ul {
    list-style-type: none; 
    color: red;
    width: 195px;
    min-width: 190px;
    max-width: 200px;
    padding: 10px 0;
    text-align: left;
    margin-left: 22.5px;
}

.col-2 ul li a{
    color: red;
    word-wrap: break-word;
    padding-left: 0; 
}

.col-2 ul li {
    margin-bottom: 15px;
}

.col-2 ul li:last-child {
    margin-bottom: 20px;
}

.col-2 ul .home-link a {
    color: black; 
}
.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.breadcrumb-item {
    margin-right: 10px;
    color:gray
}

.breadcrumb-item.active {
    color: gray;
}

.breadcrumb-item a {
    color: gray;
    text-decoration: none;
}

.list-group {
    margin-top: 20px;
}

.list-group-item {
    text-align: left;
}

.list-group-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.slide-link {
color: red;
}

.col-3 .list-group{
    width: 500px;
}
.col-3 {
    flex: 2;
}
.col-4 {
    padding: 20px;
    margin-left: 200px;
}


.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    position: relative;
}

.checkmark-icon {
    color: green;
    position: absolute;
    right: 0;
}