.wd-course-navigation {
  margin-left: 20px;
  margin-top: 20px;
}

.wd-course-navigation.list-group {
  border-radius: 0px;
}

.wd-course-navigation .list-group-item {
  border: none;
  color: red;
}

.wd-course-navigation .list-group-item a {
  color: red;
  text-decoration: none;
}

.wd-course-navigation .list-group-item.active a {
  color: black;
}

.wd-course-navigation .list-group-item.active {
  color: black;
  background-color: white;
  border: none;
  border-left: 2px solid black;
}
